<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NewsDog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    img {
      width: 40%;
      height: auto;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">News Dog</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="post" action="">
        <input class="form-control mr-sm-2" type="search" placeholder="Search News!" aria-label="Search" name="query"
          required>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container">
    {% set N = results|length %}
    {% set col = 1 %}
    <ul class="list-group">
      {%for i in range(N)%}
      <li class="list-group-item">
        <div class="row" align="left">
          <div class="col-md">
            <a href="{{results[i]['url']}}">
              <h3>{{results[i]['title']}}</h3>
            </a>
            <i><b>Published At: {{results[i]['publishedAt']}}</b></i>
            <b>Source: {{results[i]['source']['name']}}</b>
            <p id="news_desc">{{results[i]['description']}}</p>
            <a href="{{results[i]['url']}}">Read More</a>
          </div>
          <div class="col-md" align="center">
            <br>
            <img src="{{results[i]['urlToImage']}}">
          </div>
        </div>
      </li>
      {%endfor%}
    </ul>
  </div>

</body>

</html>
